---
---

<footer>
  <div class="footer-left">
    <span>Düsseldorf</span>
    <span class="footer-dot"></span>
    <span class="footer-farsi">امید سعادت</span>
  </div>
  <ul class="footer-links">
    <li><a href="https://github.com/omid3098" target="_blank">GitHub</a></li>
    <li><a href="#" target="_blank">LinkedIn</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="#">Say hello</a></li>
  </ul>
</footer>
